@import "blocks/vars";
//@import "bootstrap/scss/bootstrap";
*:focus {
  outline: none;
}
.container {
  max-width: 1310px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 330px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $active-href;
    text-decoration: none;
  }
}

img {
  //width: 100%;
  height: auto;
}

html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  color: black;
}

*{
  transition-duration: .5s;
  font-size: $font-size;
  font-family: 'Roboto', sans-serif;
  line-height: $line-height;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


@import "blocks/header";
@import "blocks/mainPageWrapper-part1";
@import "blocks/mainPageWrapper-part2";
@import "blocks/mainPageWrapper-part3";
@import "blocks/mainPageWrapper-part4";
@import "blocks/mainPageWrapper-part5";
@import "blocks/mainPageWrapper-part6";
@import "blocks/bigSubForm";
@import "blocks/partnersSlider";
@import "blocks/mainPageWrapper-part9";
@import "blocks/readersChoise";
@import "blocks/listedUp";
@import "blocks/pagination";
@import "blocks/movingPictures";
@import "blocks/modalSubscription";
@import "blocks/rubric";
@import "blocks/404";
@import "blocks/loadmore";
@import "blocks/rubricator";
@import "blocks/button";
@import "blocks/socialBlock";
@import "blocks/arrowSwitch";
@import "blocks/greenBlock";
@import "blocks/sliderMini";
@import "blocks/calendarOfEvents";
@import "blocks/horizontalBar";
@import "blocks/categoryBlock";
@import "blocks/anotherNews";
@import "blocks/foxy";
@import "blocks/news";
@import "blocks/quiz";
@import "blocks/wpcf7";
@import "blocks/socialMedia";
@import "blocks/filter";
@import "blocks/verticalBlock";
@import "blocks/newMag";
@import "blocks/imgBlock";
@import "blocks/dateAndViews";
@import "blocks/events";
@import "blocks/breadcrumbs";
@import "blocks/tags";
@import "blocks/titles";
@import "blocks/footer";
@import "blocks/comments";
@import "blocks/grade";
@import "blocks/magArchive";
@import "blocks/newsOfHour";
@import "blocks/single";
@import "blocks/issue";
@import "blocks/additionalBlock";
@import "blocks/writer";
@import "blocks/sp-form";