@import "blocks/vars";
@import "node_modules/bootstrap/scss/bootstrap";

.container {
  max-width: 1310px;
}

a {
  color: black;
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $active-href;
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  color: black;
}

*{
  transition-duration: .5s;
  font-size: $font-size;
  font-family: 'Roboto', sans-serif;
  line-height: $line-height;
}

@import "blocks/header";
@import "blocks/mainPageWrapper-part1";
@import "blocks/mainPageWrapper-part2";
@import "blocks/mainPageWrapper-part3";
@import "blocks/mainPageWrapper-part4";
@import "blocks/mainPageWrapper-part5";
@import "blocks/mainPageWrapper-part6";
@import "blocks/mainPageWrapper-part7";
@import "blocks/partnersSlider";
@import "blocks/mainPageWrapper-part9";
@import "blocks/readersChoise";
@import "blocks/listedUp";
@import "blocks/pagination";
@import "blocks/movingPictures";
@import "blocks/modalSubscription";
@import "blocks/rubric";
@import "blocks/rubricator";
@import "blocks/button";
@import "blocks/socialBlock";
@import "blocks/inputBlock";
@import "blocks/arrowSwitch";
@import "blocks/greenBlock";
@import "blocks/sliderMini";
@import "blocks/calendarOfEvents";
@import "blocks/horizontalBar";
@import "blocks/categoryBlock";
@import "blocks/anotherNews";
@import "blocks/foxy";
@import "blocks/news";
@import "blocks/quiz";
@import "blocks/socialMedia";
@import "blocks/verticalBlock";
@import "blocks/newMag";
@import "blocks/imgBlock";
@import "blocks/dateAndViews";
@import "blocks/events";
@import "blocks/breadcrumbs";
@import "blocks/tags";
@import "blocks/titles";
@import "blocks/footer";
