.page404 {
  display: grid;
  row-gap: 30px;
  .header404 {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__error {
      display: flex;
      &Left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 40%;
        p:first-child {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 30px;
        }
        p:last-child  {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
        }
      }
      &Right {
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: column;
        form {
          position: relative;
          min-height: 54px;
          &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            height: 24px;
            width: 24px;
            fill: black;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill-opacity='0.12' viewBox='0 0 24 24' fill-rule='evenodd'%3E%3Cpath d='M14.9649 14.255H15.7549L20.7449 19.255L19.2549 20.745L14.2549 15.755V14.965L13.9849 14.685C12.8449 15.665 11.3649 16.255 9.75488 16.255C6.16488 16.255 3.25488 13.345 3.25488 9.755C3.25488 6.165 6.16488 3.255 9.75488 3.255C13.3449 3.255 16.2549 6.165 16.2549 9.755C16.2549 11.365 15.6649 12.845 14.6849 13.985L14.9649 14.255ZM5.25488 9.755C5.25488 12.245 7.26488 14.255 9.75488 14.255C12.2449 14.255 14.2549 12.245 14.2549 9.755C14.2549 7.26501 12.2449 5.255 9.75488 5.255C7.26488 5.255 5.25488 7.26501 5.25488 9.755Z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
          }
        }

        input {
          padding: 0 25% 0 8%;
          height: 100%;
          width: 100%;
          border: none;
          background: rgba(0, 0, 0, 0.02);
          color: rgba(0, 0, 0, 0.38);
          border-radius: 5px;
        }
        button {
          position: absolute;
          right: 10px;
          top: 9px;
        }
      }
    }
  }
  .movingPictures  {
    margin-bottom: $wrapper-parts-margin;
  }
  .mainPageWrapper-part1 {
    grid-template:
  "left mid mid foxy"
  /4fr 3fr 2fr 3fr
  ;
  }
}
.page404Bot {
  .mainPageWrapper-part7 {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .page404 {
    .mainPageWrapper-part1 {
      grid-template:
      "left mid"
      "foxy foxy"
      /4fr 5fr
    ;
    }
    .socialBlock {
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px) {
  .page404 {
    .header404 {
      row-gap: 30px;
      grid-template-rows: 1fr;
      grid-template-columns: auto;
      &__error {
        flex-direction: column;
        margin-bottom: 40px;

        &Right {
          margin-top: 25px;
          input {
            padding: 0;
            padding-left: 8%;
          }

          button {
            position: relative;
            right: 0;
            float: right;
          }
        }
      }
    }
    .mainPageWrapper-part1 {
      grid-template:
      "mid" .7fr
      "foxy" auto
      "left" 1fr
      /1fr
    ;
    }
    .mainPageWrapper-part3 {
      grid-template:
      "centerArea lineArea rightArea" auto
      "foxyArea foxyArea foxyArea" auto
      /1fr 1px 1fr;
    }
  }
}

@media (max-width: 576px) {
  .page404 {
    grid-template:
    "breadcrumbs"
    "headerArea"
    "sliderOne"
    "foxyFullOne"
    "part1"
    "part5"
    "part3"
    "sliderTwo"
    "part4"
    /1fr
    ;
    .breadcrumbs{
      grid-area: breadcrumbs;
    }
    .header404 {
      grid-area: headerArea;
      &__errorRight {
        input{
          padding-left: 15%;
        }
      }
    }
    .movingPicturesBigOne {
      grid-area: sliderOne;
    }
    .movingPicturesBigTwo{
      grid-area: sliderTwo;
    }
    .mainPageWrapper-part1 {
      grid-area: part1;
      &__mid {
        min-height: 325px;
      }
      .foxy a {
        margin: auto;
      }
    }
    .foxyFullOne {
      grid-area: foxyFullOne;
    }
    .mainPageWrapper-part5 {
      grid-template:
        "leftArea"
        "mobileArea"
        "foxyArea"
        "rightBotArea"
      / 1fr;
      .readersChoise {
        display: block;
      }
      grid-area: part5;
    }
    .mainPageWrapper-part3 {
      grid-area: part3;
      grid-template: "foxyArea" auto "centerArea" auto "rightArea" auto/1fr;
    }
    .mainPageWrapper-part4 {
      grid-template:
      "foxyArea"
      "centerArea"
      "rightArea"
      /1fr
      ;
      grid-area: part4;
    }
  }
}