.single__mainContent {
  .sharingAndErrors {
    .sharing {
      display: flex;
      flex-direction: column;
      row-gap: 0;
      .socialMedia {
        margin-top: 15px;
      }
    }
  }

  .article-loaded {
    padding: 30px 0 0 0;

    .tags {
      a {
        text-decoration: none;
      }
    }

    .verticalBlockMain {
      padding-left: 0;
      .imgBlock {
        padding-top: 0;
      }
    }
    .foxyLong {
      padding: 0 !important;
    }


  }
}

@media (max-width: 1024px) {
  .single__mainContent {
    .sharingAndErrors {
      .sharing {
        row-gap: 15px;
        > span {
          margin: auto 0 auto 0;
        }
        .socialMedia {
          margin: 0 auto 0 auto;
        }
      }
    }
  }
}
