.bigSubForm {
  position: relative;
  background-color: $main-color;
  &__middle {
    position: absolute;
    background: url("img/woodMiddle.png") 50% 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .07;
    bottom: 0;
  }
  &__left {
    position: absolute;
    background: url("img/woodSide.png") 0 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .1;
    bottom: 0;
  }
  &__right {
    position: absolute;
    transform: scale(-1, 1);
    background: url("img/woodSide.png") 0 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .1;
    bottom: 0;
  }

  .container {
    padding: 20px 15px;
    position: relative;
    z-index: 3;
    display: grid;
    column-gap: 300px;
    grid-template:
    "formArea imgArea "
    "formArea imgArea"
    / 1fr 1fr
  ;

    > div:first-child {
      grid-area: formArea;
      margin: auto 0;
      .sp-message {
        * {
          font-size: 14px;
          color: white;
        }
      }
      .form-special {
        width: 100%;
        margin: 0;
        padding: 0;
        form {
          grid-template:
          "one one"
          "two two"
          "three three"
          "four four"
          "five ."
          /1fr 2fr
        ;
          .button {
            color: $main-color;
            background-color: white;
            &:hover {
              background-color: $main-color;
              color: white;
              top: 0;
              opacity: 1;
              transition-duration: .5s;
            }
            &:active {
              background-color: $main-color12;
              color: rgba(black, .38);
            }
          }
          input[type=text], input[type=email] {
            &::placeholder {
              color: rgba(255, 255, 255, 0.38);
            }
            font-size: 17px;
            line-height: 24px;
          }
          .sp-control-label {
            margin: 0;
            span {
              color: rgba(255, 255, 255, 0.38);
            }
            strong {
              color: red;
            }
          }
          .sp-form-control {
            color: white;
            border-bottom: 1px solid rgba(255,255,255,.38);
          }
          .sp-checkbox-option {
            label {
              display: flex;
              justify-content: flex-start;
              > span, a {
                font-size: 12px;
                line-height: 16px;
                display: inline-block;
                strong {
                  color: red;
                }
              }
            }
          }

          p, span, strong, a {
            font-size: 14px;
            line-height: 20px;
            color: white;
          }
          > div:nth-child(1) {
            span, strong {
              color: white;
              display: block;
            }
            strong {
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              color: rgba(255, 255, 255, 0.87);
            }
          }
        }
        .sp-link-wrapper {
          display: none;
        }
      }

    }

    > div:last-child {
      grid-area: imgArea;
      flex: 0 0 40%;
    }
  }
}

@media (max-width: 1280px) {
  .bigSubForm {
    .container {
      column-gap: 0;
    }
  }
}

@media (max-width: 1023px) {
  .bigSubForm {
    .container {
      grid-template:
    "imgArea"
    "formArea"
    / 1fr
    ;
      >div:first-child {
        .sp-form {
          form {
            grid-template:
          "one "
          "two "
          "three "
          "four "
          "five"
          /1fr;
          }
        }
      }
      > div:last-child {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
          display: flex;
          margin: auto;
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-width: 768px){
 .bigSubForm {
   .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
     width: 100%;
   }
 }
}