.calendarOfEvents {
  > div {
    display: flex;
    flex-direction: column;
    a {
      justify-content: space-between;
      display: flex;
      margin-bottom: 30px;
    }
  }
  &__Text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    flex: 0 0 70%;
  }
  &__Date {
    text-align: end;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 53, 37, 0.87);
  }
}