.categoryBlock {
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 3px 10px;
  color: rgba(0, 0, 0, 0.38);
  text-align: center;
  &:hover {
    text-decoration: none;
    background-color: $main-color;
    color: white;
  }
  &:active {
    background-color: rgba(black, .12);
    color: white;
  }
}