.dateAndViews {
  span {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    line-height: 16px;
  }
}

.views {
  margin-left: 30px;
  &:before {
    content: '';
    width: 15px;
    height: 12px;
    background: url("../img/views.svg"), no-repeat;
    position: relative;
    left: 0;
    top: 1px;
    display: inline-flex;
    margin-right: 2px;
  }
}

.date {
  font-size: 12px;
  line-height: 16px;
}