.grade {
  align-self: center;
  justify-content: center;
  //margin-left: 15px;
  display: inline-flex;
  //position: absolute;
  //left: 430px;
  //top: 15px;
  align-items: center;
  p {
    font-size: 16px;
    line-height: 24px;
    color: $dark-theme;
  }
  p, .socialMedia {
    margin: 0;
  }
  .socialMedia {
    width: auto;
    .thumbs-rating-container {
      display: flex;
    }

    .thumbs-rating-container button {
        cursor: pointer;
    }
    .thumbs-rating-already-voted {
      margin-left: 30px;
      padding: 0;
      width: max-content;
    }
    .thumbs-rating-container .thumbs-rating-up,
    .thumbs-rating-container .thumbs-rating-down {
      margin-left: 15px;
      border: none;
      background-color: transparent;
      width: 33px;
      height: 33px;
      display: block;
      background-repeat: no-repeat;
    }
    .thumbs-rating-container {
      .thumbs-rating-up.thumbs-rating-voted {
        background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbUp" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.6067 27.4284H7.07101C6.44586 27.4284 5.84631 27.1876 5.40426 26.759C4.96221 26.3303 4.71387 25.7489 4.71387 25.1427V17.1427C4.71387 16.5365 4.96221 15.9551 5.40426 15.5265C5.84631 15.0978 6.44586 14.857 7.07101 14.857H10.6067M18.8567 12.5713V7.99986C18.8567 7.09055 18.4842 6.21848 17.8211 5.57549C17.1581 4.93251 16.2587 4.57129 15.321 4.57129L10.6067 14.857V27.4284H23.901C24.4695 27.4347 25.0211 27.2415 25.4543 26.8844C25.8874 26.5274 26.1729 26.0306 26.2582 25.4856L27.8846 15.1999C27.9359 14.8723 27.9131 14.5378 27.8178 14.2196C27.7225 13.9014 27.5571 13.6071 27.3328 13.357C27.1086 13.107 26.831 12.9072 26.5193 12.7715C26.2076 12.6359 25.8691 12.5675 25.5274 12.5713H18.8567Z" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
      }
      .thumbs-rating-down.thumbs-rating-voted {
        background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbUp" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.6067 27.4284H7.07101C6.44586 27.4284 5.84631 27.1876 5.40426 26.759C4.96221 26.3303 4.71387 25.7489 4.71387 25.1427V17.1427C4.71387 16.5365 4.96221 15.9551 5.40426 15.5265C5.84631 15.0978 6.44586 14.857 7.07101 14.857H10.6067M18.8567 12.5713V7.99986C18.8567 7.09055 18.4842 6.21848 17.8211 5.57549C17.1581 4.93251 16.2587 4.57129 15.321 4.57129L10.6067 14.857V27.4284H23.901C24.4695 27.4347 25.0211 27.2415 25.4543 26.8844C25.8874 26.5274 26.1729 26.0306 26.2582 25.4856L27.8846 15.1999C27.9359 14.8723 27.9131 14.5378 27.8178 14.2196C27.7225 13.9014 27.5571 13.6071 27.3328 13.357C27.1086 13.107 26.831 12.9072 26.5193 12.7715C26.2076 12.6359 25.8691 12.5675 25.5274 12.5713H18.8567Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
      }
    }

    .thumbs-rating-container .thumbs-rating-up {
      background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbUp" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.6067 27.4284H7.07101C6.44586 27.4284 5.84631 27.1876 5.40426 26.759C4.96221 26.3303 4.71387 25.7489 4.71387 25.1427V17.1427C4.71387 16.5365 4.96221 15.9551 5.40426 15.5265C5.84631 15.0978 6.44586 14.857 7.07101 14.857H10.6067M18.8567 12.5713V7.99986C18.8567 7.09055 18.4842 6.21848 17.8211 5.57549C17.1581 4.93251 16.2587 4.57129 15.321 4.57129L10.6067 14.857V27.4284H23.901C24.4695 27.4347 25.0211 27.2415 25.4543 26.8844C25.8874 26.5274 26.1729 26.0306 26.2582 25.4856L27.8846 15.1999C27.9359 14.8723 27.9131 14.5378 27.8178 14.2196C27.7225 13.9014 27.5571 13.6071 27.3328 13.357C27.1086 13.107 26.831 12.9072 26.5193 12.7715C26.2076 12.6359 25.8691 12.5675 25.5274 12.5713H18.8567Z" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
    }
    .thumbs-rating-container .thumbs-rating-down {
      background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbDown" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M22.0184 4.5717H25.1652C25.8322 4.56026 26.4804 4.78671 26.9866 5.20807C27.4928 5.62942 27.8219 6.21634 27.9113 6.85742V14.8574C27.8219 15.4985 27.4928 16.0854 26.9866 16.5068C26.4804 16.9281 25.8322 17.1546 25.1652 17.1431H22.0184M13.7684 19.4288V24.0003C13.7684 24.9096 14.1409 25.7817 14.804 26.4246C15.4671 27.0676 16.3664 27.4288 17.3041 27.4288L22.0184 17.1431V4.5717H8.72413C8.15567 4.56547 7.60404 4.75867 7.17088 5.11569C6.73773 5.47272 6.45223 5.96952 6.36699 6.51456L4.74056 16.8003C4.68928 17.1279 4.71207 17.4624 4.80734 17.7806C4.90261 18.0988 5.06808 18.3931 5.2923 18.6431C5.51651 18.8931 5.79411 19.0929 6.10585 19.2286C6.41759 19.3643 6.75602 19.4326 7.0977 19.4288H13.7684Z" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
    }
    .thumbs-rating-container:hover {
      .thumbs-rating-up {
        background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbUp" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.6067 27.4284H7.07101C6.44586 27.4284 5.84631 27.1876 5.40426 26.759C4.96221 26.3303 4.71387 25.7489 4.71387 25.1427V17.1427C4.71387 16.5365 4.96221 15.9551 5.40426 15.5265C5.84631 15.0978 6.44586 14.857 7.07101 14.857H10.6067M18.8567 12.5713V7.99986C18.8567 7.09055 18.4842 6.21848 17.8211 5.57549C17.1581 4.93251 16.2587 4.57129 15.321 4.57129L10.6067 14.857V27.4284H23.901C24.4695 27.4347 25.0211 27.2415 25.4543 26.8844C25.8874 26.5274 26.1729 26.0306 26.2582 25.4856L27.8846 15.1999C27.9359 14.8723 27.9131 14.5378 27.8178 14.2196C27.7225 13.9014 27.5571 13.6071 27.3328 13.357C27.1086 13.107 26.831 12.9072 26.5193 12.7715C26.2076 12.6359 25.8691 12.5675 25.5274 12.5713H18.8567Z" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
      }

      .thumbs-rating-down {
        background-image: url('data:image/svg+xml;utf8,<svg id="i-thumbDown" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M22.0184 4.5717H25.1652C25.8322 4.56026 26.4804 4.78671 26.9866 5.20807C27.4928 5.62942 27.8219 6.21634 27.9113 6.85742V14.8574C27.8219 15.4985 27.4928 16.0854 26.9866 16.5068C26.4804 16.9281 25.8322 17.1546 25.1652 17.1431H22.0184M13.7684 19.4288V24.0003C13.7684 24.9096 14.1409 25.7817 14.804 26.4246C15.4671 27.0676 16.3664 27.4288 17.3041 27.4288L22.0184 17.1431V4.5717H8.72413C8.15567 4.56547 7.60404 4.75867 7.17088 5.11569C6.73773 5.47272 6.45223 5.96952 6.36699 6.51456L4.74056 16.8003C4.68928 17.1279 4.71207 17.4624 4.80734 17.7806C4.90261 18.0988 5.06808 18.3931 5.2923 18.6431C5.51651 18.8931 5.79411 19.0929 6.10585 19.2286C6.41759 19.3643 6.75602 19.4326 7.0977 19.4288H13.7684Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
      }
    }
  }

}
.grade:hover {
  .socialMedia {
    a:first-of-type {
      svg {
        color: $dark-theme;
      }
    }
    a:last-of-type {
      svg {
        color: $main-color;
      }
    }
  }
}