.mainPageWrapper-part4 {
  margin-bottom: $wrapper-parts-margin;
  display: grid;
  row-gap: $my-row-gap;
  column-gap: $my-column-gap;
  grid-template:
    "leftArea centerArea rightArea"
    "foxyArea foxyArea foxyArea"
    /  4.5fr 4fr 3fr
;
  .calendarOfEvents {
    grid-area: leftArea;
  }

  .quiz {
    grid-area: rightArea;
  }

  .foxyFull {
    grid-area: foxyArea;
  }
}

@media (max-width: 768px) {
  .mainPageWrapper-part4 {
    grid-template:
    "centerArea rightArea"
    "foxyArea foxyArea"
    /4.5fr 4fr
  ;
    .calendarOfEvents {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .mainPageWrapper-part4 {
    row-gap: $my-row-gap;
    grid-template:
    "centerArea"
    "rightArea"
    "foxyArea"
    /1fr
  ;
    .sliderMini {
      min-height: 300px;
    }
    .foxyFull {
      margin-top: 0;
    }
  }
}