.mainPageWrapper-part2 {
  margin-bottom: $wrapper-parts-margin;
  > div {
    grid-gap: 30px;
    display: grid;
    grid-template:
    "greeenArea greeenArea foxyArea"
    "greeenArea greeenArea horizontalArea"
    "socialArea socialArea horizontalArea"
    "bigFoxyArea bigFoxyArea bigFoxyArea"
    / 4.5fr 4.5fr 3fr
  ;
  }

  .greenBlock {
    grid-area: greeenArea;
    > .h2Title {
      display: none;
    }
  }

  .socialBlock {
    grid-area: socialArea;
  }

  .anotherNews {
    grid-area: horizontalArea;
  }

  .foxy {
    grid-area: foxyArea;
    padding: 0;
  }

  &__foxy {
    margin-top: 40px;
    grid-area: bigFoxyArea;
  }
}

@media (max-width: 1200px) {
  .mainPageWrapper-part2 {
    > div {
      grid-template-areas:
    "greeenArea greeenArea greeenArea"
    "horizontalArea horizontalArea foxyArea"
    "horizontalArea horizontalArea foxyArea"
    "socialArea socialArea socialArea"
    "bigFoxyArea bigFoxyArea bigFoxyArea"
    ;
    }
    &__right {
      .h2Title {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .mainPageWrapper-part2 {
    > div {
        grid-template-areas:
    "greeenArea greeenArea greeenArea"
    "horizontalArea horizontalArea foxyArea"
    "bigFoxyArea bigFoxyArea bigFoxyArea"
    "socialArea socialArea socialArea"
      ;
      }
    &__foxy {
      margin-top: 0;
    }
  }
}

@media (max-width: 576px) {
  .mainPageWrapper-part2 {
    > div {
      grid-template-areas:
      "foxyArea foxyArea foxyArea"
      "greeenArea greeenArea greeenArea"
      "bigFoxyArea bigFoxyArea bigFoxyArea"
      "socialArea socialArea socialArea"
      "horizontalArea horizontalArea horizontalArea"
      ;
    }
  }
}
