.mainPageWrapper-part7 {
  position: relative;
  background-color: $main-color;
  margin-bottom: $wrapper-parts-margin;
  &__middle {
    position: absolute;
    background: url("../img/woodMiddle.png") 50% 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .07;
    bottom: 0;
  }
  &__left {
    position: absolute;
    background: url("../img/woodSide.png") 0 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .1;
    bottom: 0;
  }
  &__right {
    position: absolute;
    transform: scale(-1, 1);
    background: url("../img/woodSide.png") 0 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .1;
    bottom: 0;
  }

  .container {
    padding: 20px 15px;
    position: relative;
    z-index: 3;
    display: grid;
    column-gap: 300px;
    grid-template:
    "titleArea imgArea "
    "formArea imgArea"
    / 1fr 1fr
  ;
    //display: flex;
    //justify-content: space-between;

    > div:first-child {
      grid-area: titleArea;
      display: flex;
      flex-direction: column;
      margin: auto 0;
      flex: 0 0 40%;
      p:first-of-type {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.87);
      }
      p:last-of-type {
        font-size: 14px;
        line-height: 20px;
        color: white;
      }
    }

    form {
      grid-area: formArea;
      > div:not(.mainPageWrapper-part7__button) {
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        label {
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.38);
        }
        input {
          &::placeholder {
            color: white;
          }
          color: white;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.38);
        }
      }
      .mainPageWrapper-part7__button {
        display: flex;
        justify-content: space-between;
        > div {
          flex: 0 0 50%;
          display: flex;
          label {
            font-size: 12px;
            line-height: 16px;
            color: white;
          }
        }
      }
    }

    > div:last-child {
      grid-area: imgArea;
      flex: 0 0 40%;
    }
  }
}

@media (max-width: 1023px) {
  .mainPageWrapper-part7 {
    .container {
      grid-template:
    "titleArea"
    "imgArea"
    "formArea"
    / 1fr
    ;
      > div:last-child {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
          display: flex;
          margin: auto;
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .mainPageWrapper-part7 {
    .container {
      form {
        .mainPageWrapper-part7__button {
          flex-direction: column-reverse;
          >div {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}