.mainPageWrapper-part1 {
  margin-bottom: $wrapper-parts-margin;
  display: grid;
  gap: $wrapper-parts-margin;
  grid-template:
  "left mid mid right"
  "slider slider slider foxy"
  "foxyLong foxyLong title title"
  "rubricator rubricator rubricator rubricator"
  /4fr 3fr 2fr 3fr
;

  &__left {
    grid-area: left;
  }

  &__mid {
    grid-area: mid;
  }

  &__center {

    display: flex;
    height: 100%;
    border-radius: 5px;
    background-position: 50%;
    background-repeat: no-repeat;
    &:hover{
      text-decoration: none;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin: 0 23px 27px 26px;
      color: white;
      > div {
        .mainPageWrapper-part1__centerCategory {
          float: right;
          color: rgba(white, .6);
          padding: 3px 15px;
        }
      }
      .mainPageWrapper-part1__centerTopText {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 12px;
      }
      .mainPageWrapper-part1__centerMiddleText {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .dateAndViews {
        display: block;
        span {
          color: white;
        }
      }
    }
  }

  &__right {
    grid-area: right;
    &ArrowDown {
      height: 20%;
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -70.79%, #FFFFFF 63.53%);
      &:before {
        content: '';
        background: url("../img/doubleArrowsDown.svg");
        width: 26px;
        height: 20px;
        display: flex;
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 40%;
      }
    }
    > div {
      position: relative;
    }
     div#scroll {
      max-height: 500px;
      overflow-y: auto;
      scrollbar-width: thin;
      padding-right: 15px;

      &::-webkit-scrollbar {
        width: 1px;
      }
      &::-webkit-scrollbar-track {
        background: #E0E0E0;
      }
      &::-webkit-scrollbar-thumb {
        background: darken(#E0E0E0, 25%);
      }
    }

    &Blc {
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding-bottom: 12px;
      margin-bottom: 12px;
      > a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        display: flex;
      }
      > div {
        display: flex;
        justify-content: space-between;
        span, a {
          font-size: 12px;
          line-height: 16px;
          color: rgba(0, 0, 0, 0.38);
        }
        .views {
          margin-left: 0;
        }
      }
    }
  }

  .movingPictures {
    grid-area: slider;
  }

  .foxy {
    grid-area: foxy;

  }

  &__foxyBlock {
    grid-area: foxyLong;
  }

  .rubricatorTitle {
    grid-area: title;
  }

  .rubricator {
    grid-area: rubricator;
  }
}

@media (max-width: 1280px) {
  .mainPageWrapper-part1 {
    .rubricatorTitle {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .mainPageWrapper-part1 {
    grid-template:
  "left left mid mid"
  "slider slider slider foxy"
  "foxyLong foxyLong foxyLong foxyLong"
  "rubricator rubricator rubricator rubricator"
  /4fr 3fr 2fr auto
  ;
    &__right {
      display: none;
    }

    &__foxyBlock {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .mainPageWrapper-part1 {
    grid-template:
  "mid" .6fr
  "left" 1fr
  "foxy" auto
  "slider" auto
  "foxyLong" auto
  /1fr
  ;
    .movingPicturesTopRight {
      display: none;
    }
    .rubricator {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .mainPageWrapper-part1 {
    grid-template:
    "mid" .6fr
    "left" 1fr
    "foxy" auto
    "right"
    "foxyLong" auto
    "slider" auto
    /1fr
  ;
    &__mid{
      min-height: 325px;
      .mainPageWrapper-part1__center {
        > div {
          margin-right: 46px;
        }
      }

    }
    &__left {
      margin-top: 23px;
      > a {
        img {
          flex: 0 0 28%;
          max-width: 28%;
        }
        span {
          font-size: 12px;
          line-height: 16px;
          font-weight: normal;
        }
      }
    }
    &__right {
      margin-top: 20px;
      display: block;
      &Views {
        display: none;
      }
      &Blc {
        > a {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
        }

      }
      &Blc:nth-child(n+4) {
        display: none;
      }
      &ArrowDown {
        display: none;
      }
    }
    .movingPictures {
      &TopLeft {
        display: inline-flex;
        width: 100%;
        a {
          text-align: center;
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .mainPageWrapper-part1 {
    &__mid{
      .mainPageWrapper-part1__centerCategory {
        width: 50%;
        float: left !important;
        margin-top: 10px;
      }
      .mainPageWrapper-part1__centerMiddleText {
        display: none;
      }
    }
    .movingPictures {
      &TopLeft {
        a {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .mainPageWrapper-part1 {
    max-width: 320px;
  }
}