.quiz {
  position: relative;
  background-color: $main-color38;
  padding: 15% 5% 10% 13%;
  color: rgba(0, 53, 37, 0.87);
  border-radius: 5px;
  .h2Title {
    color: rgba(0, 53, 37, 0.87);
    opacity: 0.6;
  }
  .widget {
    list-style: none;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  li:not(:last-child) {
    margin-bottom: 15px;
  }

  .widgettitle, label, .dem-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px !important;
    margin-bottom: 40px;
  }
  //label {
  //  text-transform: uppercase;
  //  font-weight: 500;
  //  font-size: 10px;
  //  line-height: 16px;
  //  letter-spacing: 1.5px;
  //}

  .dem-vote {
    label {
      input {
        display: none;
      }
      span {
        position: relative;
        &:before {
          content: " ";
          display: inline-block;
          position: relative;
          top: 5px;
          margin: 0 10px 2px 0;
          width: 16px;
          height: 16px;
          border-radius: 11px;
          border: 2px solid $main-color;
          background-color: transparent;
        }
      }
      input[type=radio]:checked + span:after {
        border-radius: 11px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 7px;
        left: 4px;
        content: " ";
        display: block;
        background: $main-color;
      }
    }
  }
  .dem-button {
    padding: 6px 30px !important;
    line-height: 24px !important;
  }
  &:before {
    content: '';
    background: url("img/questionMark.png") no-repeat;
    z-index: 2;
    position: absolute;
    width: 40%;
    height: 65%;
    bottom: 0;
    right: 20px;
  }
}

@media (max-width: 576px) {
  .quiz {
    padding: 5% 10%;
  }
}