.single {
  margin-bottom: $wrapper-parts-margin;
  display: grid;
  column-gap: $my-column-gap;
  row-gap: $my-row-gap;
  align-items: start;
  overflow-anchor: none;

  grid-template:
    "breadcrumbs breadcrumbs foxyOne" auto
    "mainImg mainImg foxyOne" auto
    "mainImg mainImg anotherNews" auto
    "mainImg mainImg anotherNews" auto
    "mainContent share anotherNews" auto
    "mainContent share foxyTwo" auto
    "mainContent share readers" auto
    "mainContent share foxyThree" auto
    "mainContent share stickyPost" auto
    "mainContent share last" auto
    "mainContent share ." auto
    ". . grade"
    "disqus . ."
    "foxyFullOne foxyFullOne foxyFullOne"
    "sliderOne sliderOne foxyFour"
    "greenBlock greenBlock ."
    "part3 part3 part3"
    "foxyFullTwo foxyFullTwo foxyFullTwo"
  / 7fr 2fr 3fr
    ;
  > .grade {
    grid-area: grade;
  }
  .breadcrumbs {
    grid-area: breadcrumbs;
  }

  .last {
    grid-area: last;
  }
  .verticalBlock1 {
    grid-area: stickyPost;
    border: 1px solid $main-color;
    padding: 10px;
    border-radius: 5px;
    img {
      filter: brightness(65%);
    }
    .verticalBlock__TextBlc:hover {
      color: unset;
    }
    .tags {
      position: absolute;
      top: 13px;
      left: 15px;
      a {
        color: white;
      }
    }
    &.foxySticky {
      top: 300px;
    }
  }

  .verticalBlockMain {
    grid-area: mainImg;
    padding-left: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .imgBlock.imgBlockFull {
      padding-top: 66.6%;
      max-width: 800px;
    }
    .verticalBlock__TextBlc {
      max-width: 800px;
      h1 {
        font-weight: 500 ;
        font-size: 24px ;
        line-height: 36px;
      }
    }
    .dateAndViews {
      max-width: 800px;
      .tags {
        margin-left: 20px;
      }
    }
  }
  &__mainContent {
    min-width: 0;
    grid-area: mainContent;
    > *:not(.wp-block-image) {
      padding-left: 15px;
    }
    a {
      color: $main-color;
      text-decoration: underline;
    }
    h2 {
      border-bottom: 2px solid $main-color;
    }
    h2, h2 *{
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    h3, h3 * {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
    h1, h1 * {
      font-weight: normal;
      font-size: 34px;
      line-height: 48px;
    }
    img {
      z-index: 2;
      position: relative;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .alignleft, .alignright {
      max-width: 250px;
    }
    .alignright {
      margin-right: 1em !important;
    }
    .alignleft {
      margin-right: 30px;
      float: left;
    }
    figcaption {
      color: #9f9f9f;
    }
    figcaption, figcaption * {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      z-index: 2;
      position: relative;
    }
    strong {
      //font-family: "Roboto Bold", sans-serif;
      //font-weight: bold;
    }
    table {
      tbody {
        tr:nth-child(odd) {
          background-color: #F8F9FA;
        }
        tr {
          td {
            font-weight: normal;
            padding: 5px 10px;
          }
        }
      }
      strong {
        font-weight: normal;
      }

    }

    .has-text-align-center {
      text-align: center;
    }
    .has-text-align-right {
      text-align: right;
    }
    .has-text-align-left {
      text-align: left;
    }
    em {
      font-weight: 400;
      font-size: 16px;
    }
    ul {
      color: black;
      margin-left: 15px;
      li::marker {
        color: $main-color;
      }
    }
    blockquote {
      border-radius: 0 5px 5px 5px;
      margin:  0 0 0 15px;
      padding: 40px 45px !important;
      position: relative;
      background: rgba($main-color, 0.38);
      &:before {
        content: '';
        border: 10px solid rgba(56, 173, 74, 0.38);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 6px 0 0 0;
        position: absolute;
        top: 0;
        right: 100%;
      }
      & + blockquote {
        margin-top: 15px;
      }
    }
    .wp-block-table {
      overflow-x: auto;
    }
    .article-loaded {
      padding-top: 60px;
    }
  }

  .anotherNews {
    grid-area: anotherNews;
  }
  .readersChoise {
    grid-area: readers;
  }
  .sharingAndErrors {
    grid-area: share;
    height: 100%;
    > div {
      position: sticky;
      top: 25px;
    }
    .sharing {
      background-color: rgba(0, 0, 0, 0.05);
      padding: 25px 0;
      border-radius: 5px;
      margin-bottom: 25px;
      flex-wrap: wrap;
      row-gap: 15px;
      &__me {
        padding: 0 10px;
        display: inline-block !important;
        margin-bottom: 15px;
        a {
          color: $main-color;
        }
      }
      span, a {
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
      > .socialMedia {
        margin: 25px auto 0 auto;
        justify-content: space-around;
      }
      svg {
        margin: 0;
      }
    }
    .findErrors {
      grid-area: errors;
      border-radius: 5px;
      padding: 30px 15px;
      border: 1px solid $main-color;
      .socialMedia {
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
      }
      svg {
        margin: 0;
      }
      p {
        text-align: center;
      }
    }
  }
  .greenBlock {
    grid-area: greenBlock;
  }

  .foxyOne {
    grid-area: foxyOne;
  }
  .foxyTwo {
    grid-area: foxyTwo;
  }
  .foxyThree {
    grid-area: foxyThree;
    //grid-row-start: 8;
  }
  .foxyFour {
    grid-area: foxyFour;
  }

  .foxyFullOne {
    grid-area: foxyFullOne;
  }
  .foxyFullTwo {
    grid-area: foxyFullTwo;
  }

  .foxyLong {
    padding: 30px 0 0 0 !important;
    grid-area: foxyLong;
  }

  .disqus {
    grid-area: disqus;
  }
  .comments {
    grid-area: comments;
  }

  .movingPicturesOne {
    margin: 0;
    grid-area: sliderOne;
  }

  .mainPageWrapper-part3 {
    grid-area: part3;
    grid-template:
    "centerArea lineArea rightArea foxyArea"
    / 2fr 1px 2fr 1fr
  ;
  }
}

.single.page {
  grid-template:
    "breadcrumbs breadcrumbs foxyOne" auto
    "mainContent . foxyOne" auto
    "mainContent . anotherNews" auto
    "mainContent . foxyTwo" auto
    "mainContent . readers" auto
    "mainContent . foxyThree" auto
    "mainContent . stickyPost" auto
    "mainContent . last" auto
    "mainContent . ." auto
    "foxyLong foxyLong foxyLong"
    "foxyFullOne foxyFullOne foxyFullOne"
    "sliderOne sliderOne foxyFour"
    "greenBlock greenBlock ."
    "part3 part3 part3"
    "foxyFullTwo foxyFullTwo foxyFullTwo"
  / 7fr 2fr 3fr
;
}


@media (max-width: 1024px) {
  .single {
    grid-template:
    "breadcrumbs foxyOne" auto
    "mainImg foxyOne" auto
    "mainImg anotherNews" auto
    "mainImg anotherNews" auto
    "share anotherNews" auto
    "mainContent foxyTwo" auto
    "mainContent readers" auto
    "mainContent foxyThree" auto
    "mainContent stickyPost" auto
    "mainContent last" 0px
    "mainContent ."
    "foxyLong foxyLong"
    "grade grade"
    "disqus disqus"
    "foxyFullOne foxyFullOne"
    "sliderOne sliderOne"
    "foxyFour foxyFour"
    "greenBlock greenBlock"
    "part3 part3"
    "foxyFullTwo foxyFullTwo"
  / 5fr 2fr
  ;
    .sharingAndErrors {
      .sharing {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        span {
          margin: auto 15px auto 0;
        }
        > .socialMedia {
          margin: 0;
        }
      }
    }

    .findErrors {
      display: none;
    }
  }

}

@media (max-width: 992px) {
  .single.page {
    grid-template:
    "breadcrumbs"
    "mainContent"
    "foxyOne"
    "anotherNews"
    "foxyTwo"
    "readers"
    "foxyThree"
    "foxyLong"
    "foxyFullOne"
    "sliderOne"
    "foxyFour"
    "greenBlock"
    "part3"
    "foxyFullTwo"
  / 1fr
  ;
  }
  .single {
    grid-template:
    "breadcrumbs"
    "mainImg"
    "share"
    "mainContent"
    "foxyFullOne"
    "grade"
    "foxyLong"
    "foxyOne"
    "anotherNews"
    "foxyTwo"
    "sliderOne"
    "foxyThree"
    "greenBlock"
    "foxyFour"
    "part3"
    "foxyFullTwo"
  / 1fr
  ;

    .mainPageWrapper-part3 {
      grid-template:
    "centerArea" auto
    "foxyArea" auto
    "rightArea" auto
    /1fr;
      margin-bottom: 0;
    }
    &__mainContent {
      overflow-x: auto;
      > *:not(.wp-block-image, .has-background) {
        padding-left: 0;
      }
    }
    .verticalBlockMain {
      padding-left: 0;
    }
    .disqus, .readersChoise, .last, .verticalBlock1 {
      display: none;
    }
  }
}

