.socialMedia {
  max-height: 80px;
  width: 173px;
  display: flex;
  align-content: center;
  margin: 15px 0;
  > a {
    cursor: pointer;
    margin: auto;
    height: max-content;
    display: flex;
  }
  svg {
    color: $main-color;
    width: 100%;
    max-width: 27px;
    max-height: 27px;
    margin-right: 12px;
    &:hover {
      color: $hover-color;
    }
    &:active {
      color: $active-color;
    }
  }
}
