.tags {
  display: block !important;
  a {
    margin-bottom: 5px;
    border: 1px solid $main-color;
    border-radius: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-right: 3px;
    display: inline-flex;
    padding: 3px 10px;
    color: rgba(0, 0, 0, 0.38);
    &:hover {
      text-decoration: none;
      background-color: $main-color;
      color: white;
    }
    &:active {
      background-color: rgba(black, .12);
      color: white;
    }
  }
}

@media (max-width: 576px) {
  .tags a {
    margin-bottom: 5px;
  }
}
