$main-color: #38ad4a;
$main-color12: rgba($main-color, .12);
$main-color38: rgba($main-color, .38);
$dark-theme: #003525;
$hover-color: #003525;
$active-color: rgba(0, 0, 0, 0.05);
$active-href: rgba(#38AD4A, .38);
$titleH2-color: rgba(#003525, .87);

$wrapper-parts-margin: 30px;
$headerMarginBottom: 23px;
$mainPageWrapper__slider: 27px;

// font
$font-size: 1rem;
$line-height: 24px;

